In [3]:
import numpy as np 
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk

##Importation du ficher flights.csv

In [4]:
data= pd.read_csv('flights.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_52008\1036402698.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv('flights.csv')

In [5]:
data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#la dimension du jeu de données
data.shape

(5819079, 31)

In [7]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [8]:
data.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [9]:
data.nunique()

YEAR                      1
MONTH                    12
DAY                      31
DAY_OF_WEEK               7
AIRLINE                  14
FLIGHT_NUMBER          6952
TAIL_NUMBER            4897
ORIGIN_AIRPORT          930
DESTINATION_AIRPORT     930
SCHEDULED_DEPARTURE    1321
DEPARTURE_TIME         1440
DEPARTURE_DELAY        1217
TAXI_OUT                184
WHEELS_OFF             1440
SCHEDULED_TIME          550
ELAPSED_TIME            712
AIR_TIME                675
DISTANCE               1363
WHEELS_ON              1440
TAXI_IN                 185
SCHEDULED_ARRIVAL      1435
ARRIVAL_TIME           1440
ARRIVAL_DELAY          1240
DIVERTED                  2
CANCELLED                 2
CANCELLATION_REASON       4
AIR_SYSTEM_DELAY        570
SECURITY_DELAY          154
AIRLINE_DELAY          1067
LATE_AIRCRAFT_DELAY     695
WEATHER_DELAY           632
dtype: int64

In [10]:
data.isna().sum() /data.shape[0]*100

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.252978
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          1.480526
DEPARTURE_DELAY         1.480526
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
SCHEDULED_TIME          0.000103
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
DISTANCE                0.000000
WHEELS_ON               1.589822
TAXI_IN                 1.589822
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            1.589822
ARRIVAL_DELAY           1.805629
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    98.455357
AIR_SYSTEM_DELAY       81.724960
SECURITY_DELAY         81.724960
AIRLINE_DELAY          81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
dtype: float64

Apres avoir analyser les données , on peut se rendre compte qu'il y'a  des colones dont le nombres  de valeurs manquantes arrivents jusqu'a 81 %.
Ces  données là, vue qu'ils sont en majorité vide , nous avons decider de les supprimés

In [11]:
threshold = 0.5  # le seuil (50 %) de valeurs manquantes
data = data.dropna(axis=1, thresh=int(threshold * len(data)))

In [12]:
data.isna().sum() /data.shape[0]*100

YEAR                   0.000000
MONTH                  0.000000
DAY                    0.000000
DAY_OF_WEEK            0.000000
AIRLINE                0.000000
FLIGHT_NUMBER          0.000000
TAIL_NUMBER            0.252978
ORIGIN_AIRPORT         0.000000
DESTINATION_AIRPORT    0.000000
SCHEDULED_DEPARTURE    0.000000
DEPARTURE_TIME         1.480526
DEPARTURE_DELAY        1.480526
TAXI_OUT               1.530259
WHEELS_OFF             1.530259
SCHEDULED_TIME         0.000103
ELAPSED_TIME           1.805629
AIR_TIME               1.805629
DISTANCE               0.000000
WHEELS_ON              1.589822
TAXI_IN                1.589822
SCHEDULED_ARRIVAL      0.000000
ARRIVAL_TIME           1.589822
ARRIVAL_DELAY          1.805629
DIVERTED               0.000000
CANCELLED              0.000000
dtype: float64

Apres avoir supprimmer les données ayant enormement de valeurs manquantes, nous allons devoir remplacer les valeurs manquantes pour nos colones restante.
Pour les colones de type object nous allons remplacer les valeurs manquant

In [13]:
for col in  data.columns :
    if col in data.select_dtypes(include=['object']) :
        data.fillna({col: data[col].mode()[0]}, inplace=True)
    else :
        data.fillna({col: data[col].mean()}, inplace=True)

In [14]:
data.isna().sum() /data.shape[0]*100

YEAR                   0.0
MONTH                  0.0
DAY                    0.0
DAY_OF_WEEK            0.0
AIRLINE                0.0
FLIGHT_NUMBER          0.0
TAIL_NUMBER            0.0
ORIGIN_AIRPORT         0.0
DESTINATION_AIRPORT    0.0
SCHEDULED_DEPARTURE    0.0
DEPARTURE_TIME         0.0
DEPARTURE_DELAY        0.0
TAXI_OUT               0.0
WHEELS_OFF             0.0
SCHEDULED_TIME         0.0
ELAPSED_TIME           0.0
AIR_TIME               0.0
DISTANCE               0.0
WHEELS_ON              0.0
TAXI_IN                0.0
SCHEDULED_ARRIVAL      0.0
ARRIVAL_TIME           0.0
ARRIVAL_DELAY          0.0
DIVERTED               0.0
CANCELLED              0.0
dtype: float64

In [15]:
data['ORIGIN_AIRPORT'].value_counts().to_frame()

                 count
ORIGIN_AIRPORT
ATL             346836
ORD             285884
DFW             239551
DEN             196055
LAX             194673
...                ...
11503                1
14222                1
13964                1
13459                1
12265                1

[930 rows x 1 columns]

In [16]:
data['DESTINATION_AIRPORT'].value_counts().to_frame()

                      count
DESTINATION_AIRPORT
ATL                  346904
ORD                  285906
DFW                  239582
DEN                  196010
LAX                  194696
...                     ...
13964                     1
14025                     1
15497                     1
12265                     1
10666                     1

[930 rows x 1 columns]

In [17]:
data.loc[data['DESTINATION_AIRPORT'].astype(str).str.isnumeric()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
4385712,2015,10,1,4,AA,1230,N3DBAA,14747,11298,5,...,208.0,189.0,1660,539.0,4.0,602,543.0,-19.0,0,0
4385713,2015,10,1,4,DL,1805,N696DL,14771,13487,5,...,192.0,171.0,1589,521.0,7.0,538,528.0,-10.0,0,0
4385714,2015,10,1,4,NK,612,N602NK,12889,13487,5,...,168.0,149.0,1299,444.0,4.0,502,448.0,-14.0,0,0
4385715,2015,10,1,4,AA,260,N3GNAA,12892,13303,10,...,306.0,271.0,2342,806.0,7.0,806,813.0,7.0,0,0
4385716,2015,10,1,4,AA,1982,N914UY,14771,11057,10,...,282.0,257.0,2296,737.0,13.0,801,750.0,-11.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871872,2015,10,31,6,B6,98,N715JB,11292,12478,2359,...,193.0,174.0,1626,419.0,8.0,427,427.0,0.0,0,0
4871873,2015,10,31,6,B6,839,N834JB,12478,10732,2359,...,204.0,184.0,1576,318.0,4.0,339,322.0,-17.0,0,0
4871874,2015,10,31,6,B6,1503,N907JB,12478,14843,2359,...,210.0,185.0,1598,455.0,7.0,342,502.0,80.0,0,0
4871875,2015,10,31,6,UA,1696,N68836,14747,12266,2359,...,229.0,208.0,1874,434.0,8.0,504,442.0,-22.0,0,0
4871876,2015,10,31,6,UA,717,N69829,12892,12266,2359,...,195.0,159.0,1379,407.0,6.0,410,413.0,3.0,0,0

In [30]:
new_data= data[~data['DESTINATION_AIRPORT'].astype(str).str.isnumeric()]

In [19]:
new_data['DESTINATION_AIRPORT'].count()

5332914

In [20]:
new_data['ORIGIN_AIRPORT'].value_counts().to_frame()

                 count
ORIGIN_AIRPORT
ATL             346836
ORD             285884
DFW             239551
DEN             196055
LAX             194673
...                ...
HYA                 83
DLG                 77
GST                 77
AKN                 63
ITH                 34

[322 rows x 1 columns]

In [21]:
new_data.loc[new_data['DESTINATION_AIRPORT'].astype(str).str.isnumeric()]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED]
Index: []

[0 rows x 25 columns]

Generation des prix

In [31]:
def price_generator(data):

    base_price = 300  # Prix de base imposer

    # Ajustement du prix selon la distance
    price = base_price + data['DISTANCE'] * 0.15 

    # Ajustement du prix selon le jour de la semaine
    if data['DAY_OF_WEEK'] in [5, 7]:  
        price = price + (price * 0.2) 

    # Ajustement du prix selon le mois (vacances)
    if data['MONTH'] in [6, 7, 8, 12]:  
        price = price + (price*0.5) 

    # Ajustements basés sur la compagnie aérienne
    airline = {
        'AA': np.random.uniform(0.20, 0.50), 'AS': np.random.uniform(0.20, 0.50), 'B6': np.random.uniform(0.20, 0.50), 'DL': np.random.uniform(0.20, 0.50), 'EV': np.random.uniform(0.20, 0.50), 'F9': np.random.uniform(0.20, 0.50),
        'HA': np.random.uniform(0.20, 0.50), 'MQ': np.random.uniform(0.20, 0.50), 'NK': np.random.uniform(0.20, 0.50), 'OO': np.random.uniform(0.20, 0.50), 'UA':np.random.uniform(0.20, 0.50), 'US': np.random.uniform(0.20, 0.50),
        'VX': np.random.uniform(0.20, 0.50), 'WN': np.random.uniform(0.20, 0.50)
    }
    
    for key , value in airline.items():
        if data.get('AIRLINE_'+key) == 1:
              price = price + (price*value) 
    
        
    if 500 <= data['SCHEDULED_TIME'] <= 1900:
        price = price + (price*0.25 )
    

    return price

In [32]:
new_data['PRICE'] = new_data.apply(price_generator, axis=1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_52008\172545719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['PRICE'] = new_data.apply(price_generator, axis=1)

In [34]:
new_data.to_csv("clean_flights.csv",index=False)

In [35]:
new_data['PRICE'] = new_data['PRICE'].round(2)

C:\Users\DELL\AppData\Local\Temp\ipykernel_52008\1445491791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['PRICE'] = new_data['PRICE'].round(2)

In [36]:
new_data['PRICE'].describe()

count    5.332914e+06
mean     5.329061e+02
std      1.692410e+02
min      3.031500e+02
25%      4.015500e+02
50%      4.995000e+02
75%      6.246000e+02
max      2.356760e+03
Name: PRICE, dtype: float64

In [39]:
new_data['PRICE'].min()

303.15

In [40]:
new_data['PRICE'].max()

2356.76

In [41]:
y = new_data['PRICE'] 
X = new_data.drop(['PRICE','ORIGIN_AIRPORT','DESTINATION_AIRPORT'], axis=1)

In [42]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [45]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression , ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [46]:
models = {
    'ElasticNet': ElasticNet(),
    'DecisionTree': DecisionTreeRegressor(),
    'GradientBoosting': GradientBoostingRegressor()
}

# grilles des paramètres pour chaque modèle
param_grids = {
    'ElasticNet': {
        'alpha': [0.1, 1.0, 10.0],
        'l1_ratio': [0.1, 0.5, 0.9],
        'max_iter': [10, 50, 100]
    },
    'DecisionTree': {
        'max_depth': [None, 10, 20, 30],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    },
    'GradientBoosting': {
        'n_estimators': [50, 100, 200],
        'learning_rate': [0.01, 0.1, 0.2],
        'max_depth': [3, 5, 7]
    }
}

In [48]:
best_models = {}
for model_name, model in models.items():
    print(f"Training {model_name}...")
    grid_search = GridSearchCV(model, param_grids[model_name], cv=3,verbose=2) 
    grid_search.fit(X_train, y_train)
    
    best_models[model_name] = {
        'best_estimator': grid_search.best_estimator_,
        'best_params': grid_search.best_params_,
        'best_score': grid_search.best_score_
    }

Training ElasticNet...
Fitting 3 folds for each of 27 candidates, totalling 81 fits
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=10; total time=   5.4s
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=10; total time=   2.5s
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=10; total time=   2.2s
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=50; total time=   2.2s
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=50; total time=   2.1s
[CV] END ...............alpha=0.1, l1_ratio=0.1, max_iter=50; total time=   2.1s
[CV] END ..............alpha=0.1, l1_ratio=0.1, max_iter=100; total time=   2.1s
[CV] END ..............alpha=0.1, l1_ratio=0.1, max_iter=100; total time=   2.3s
[CV] END ..............alpha=0.1, l1_ratio=0.1, max_iter=100; total time=   2.2s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=10; total time=   2.1s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=10; total time=   2.2s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=10; total time=   2.4s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=50; total time=   2.3s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=50; total time=   2.3s
[CV] END ...............alpha=0.1, l1_ratio=0.5, max_iter=50; total time=   2.4s
[CV] END ..............alpha=0.1, l1_ratio=0.5, max_iter=100; total time=   2.4s
[CV] END ..............alpha=0.1, l1_ratio=0.5, max_iter=100; total time=   2.5s
[CV] END ..............alpha=0.1, l1_ratio=0.5, max_iter=100; total time=   2.4s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=10; total time=   2.3s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=10; total time=   2.5s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=10; total time=   2.3s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=50; total time=   2.7s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=50; total time=   2.2s
[CV] END ...............alpha=0.1, l1_ratio=0.9, max_iter=50; total time=   2.2s
[CV] END ..............alpha=0.1, l1_ratio=0.9, max_iter=100; total time=   2.2s
[CV] END ..............alpha=0.1, l1_ratio=0.9, max_iter=100; total time=   2.1s
[CV] END ..............alpha=0.1, l1_ratio=0.9, max_iter=100; total time=   2.5s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=10; total time=   2.6s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=10; total time=   2.2s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=10; total time=   2.1s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=50; total time=   2.2s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=50; total time=   2.1s
[CV] END ...............alpha=1.0, l1_ratio=0.1, max_iter=50; total time=   2.2s
[CV] END ..............alpha=1.0, l1_ratio=0.1, max_iter=100; total time=   2.2s
[CV] END ..............alpha=1.0, l1_ratio=0.1, max_iter=100; total time=   2.2s
[CV] END ..............alpha=1.0, l1_ratio=0.1, max_iter=100; total time=   2.2s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=10; total time=   2.1s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=10; total time=   2.3s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=10; total time=   2.6s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=50; total time=   3.0s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=50; total time=   2.9s
[CV] END ...............alpha=1.0, l1_ratio=0.5, max_iter=50; total time=   3.4s
[CV] END ..............alpha=1.0, l1_ratio=0.5, max_iter=100; total time=   4.7s
[CV] END ..............alpha=1.0, l1_ratio=0.5, max_iter=100; total time=   4.8s
[CV] END ..............alpha=1.0, l1_ratio=0.5, max_iter=100; total time=   4.4s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=10; total time=   4.2s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=10; total time=   4.0s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=10; total time=   4.3s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=50; total time=   3.8s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=50; total time=   3.5s
[CV] END ...............alpha=1.0, l1_ratio=0.9, max_iter=50; total time=   3.4s
[CV] END ..............alpha=1.0, l1_ratio=0.9, max_iter=100; total time=   3.5s
[CV] END ..............alpha=1.0, l1_ratio=0.9, max_iter=100; total time=   3.5s
[CV] END ..............alpha=1.0, l1_ratio=0.9, max_iter=100; total time=   4.5s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=10; total time=   4.0s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=10; total time=   3.4s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=10; total time=   3.6s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=50; total time=   3.8s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=50; total time=   3.4s
[CV] END ..............alpha=10.0, l1_ratio=0.1, max_iter=50; total time=   3.5s
[CV] END .............alpha=10.0, l1_ratio=0.1, max_iter=100; total time=   3.5s
[CV] END .............alpha=10.0, l1_ratio=0.1, max_iter=100; total time=   3.3s
[CV] END .............alpha=10.0, l1_ratio=0.1, max_iter=100; total time=   3.2s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=10; total time=   3.3s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=10; total time=   3.8s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=10; total time=   3.5s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=50; total time=   3.5s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=50; total time=   3.4s
[CV] END ..............alpha=10.0, l1_ratio=0.5, max_iter=50; total time=   3.4s
[CV] END .............alpha=10.0, l1_ratio=0.5, max_iter=100; total time=   3.2s
[CV] END .............alpha=10.0, l1_ratio=0.5, max_iter=100; total time=   3.7s
[CV] END .............alpha=10.0, l1_ratio=0.5, max_iter=100; total time=   3.1s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=10; total time=   3.4s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=10; total time=   4.0s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=10; total time=   3.7s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=50; total time=   3.5s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=50; total time=   3.4s
[CV] END ..............alpha=10.0, l1_ratio=0.9, max_iter=50; total time=   3.4s
[CV] END .............alpha=10.0, l1_ratio=0.9, max_iter=100; total time=   3.3s
[CV] END .............alpha=10.0, l1_ratio=0.9, max_iter=100; total time=   3.3s
[CV] END .............alpha=10.0, l1_ratio=0.9, max_iter=100; total time=   3.3s

ValueError:
All the 81 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
27 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\linear_model\_coordinate_descent.py", line 980, in fit
    X, y = self._validate_data(
           ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 650, in _validate_data
    X, y = check_X_y(X, y, **check_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py", line 1273, in check_X_y
    X = check_array(
        ^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py", line 1007, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_array_api.py", line 746, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pandas\core\generic.py", line 2150, in __array__
    arr = np.asarray(values, dtype=dtype)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: could not convert string to float: 'AA'

--------------------------------------------------------------------------------
54 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\linear_model\_coordinate_descent.py", line 980, in fit
    X, y = self._validate_data(
           ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 650, in _validate_data
    X, y = check_X_y(X, y, **check_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py", line 1273, in check_X_y
    X = check_array(
        ^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py", line 1007, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_array_api.py", line 746, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pandas\core\generic.py", line 2150, in __array__
    arr = np.asarray(values, dtype=dtype)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: could not convert string to float: 'EV'

In [ ]:
for model_name, result in best_models.items():
    print(f"\nModel: {model_name}")
    print(f"Best Parameters: {result['best_params']}")
    print(f"Best CV Score: {result['best_score']}")

best_model_name = max(best_models, key=lambda x: best_models[x]['best_score'])
best_model = best_models[best_model_name]['best_estimator']

print(f"\nBest Model: {best_model_name}")
print(f"Best Estimator: {best_model}")

y_pred = best_model.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred)
print(f"Test MSE for Best Model: {test_mse}")